body{
    background-color: rgb(230, 136, 136);
}
h1{
    color: black;
    text-align: center;
}
form{
    margin-left: 40vw;
    margin-top: 40vh;
}
input{
    background-color: goldenrod;
    color: black;
}